.gdoc-columns {
    margin: 1rem 0;
}
.gdoc-columns--regular > :first-child {
    flex: 1;
}
.gdoc-columns--small > :first-child {
    flex: 0.35;
    min-width: 7rem;
}
.gdoc-columns--large > :first-child {
    flex: 1.65;
    min-width: 33rem;
}
.gdoc-columns__content {
    flex: 1 1;
    min-width: 13.2rem;
    padding: 0;
}
.gdoc-columns .gdoc-page__anchor {
    display: none;
}

.flex {
    display: flex;
}

.flex-gap {
    flex-wrap: wrap;
    gap: 1rem;
}

.flex-even {
    flex: 1 1;
}
